
*{
    padding: 0%;
    margin: 0%;
}
body{
    height: 100vh;
    background: linear-gradient(
        to right,
        pink 0%,
        pink 50%,
        paleturquoise 50%,
        paleturquoise 100%
    );
    color: rgb(60, 0, 255);
    border-style: groove;
}  

